<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">

<head th:fragment="meta-fragment">
  <meta name="robots" content="noindex,nofollow">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" th:href="|/webjars/bootstrap/${webjars.bootstrap}/dist/css/bootstrap.min.css|">
  <link rel="stylesheet" th:href="|/webjars/datatables/${webjars.datatables}/css/dataTables.bootstrap5.min.css|">
  <script
    th:src="|/webjars/fortawesome__fontawesome-free/${webjars.fortawesome\_\_fontawesome_free}/js/all.min.js|"></script>
  <script th:src="|/webjars/jquery/${webjars.jquery}/dist/jquery.min.js|"></script>
  <script th:src="|/webjars/bootstrap/${webjars.bootstrap}/dist/js/bootstrap.bundle.min.js|"></script>
  <script th:src="|/webjars/sweetalert2/${webjars.sweetalert2}/dist/sweetalert2.all.min.js|"></script>
  <script th:src="|/webjars/datatables/${webjars.datatables}/js/jquery.dataTables.min.js|"></script>
  <script th:src="|/webjars/datatables/${webjars.datatables}/js/dataTables.bootstrap5.min.js|"></script>
  <script src="/js/lib/parseUri.js"></script>
  <script th:src="|/js/utils.js?${js_utils_js}|"></script>
  <script th:src="|/js/play-ws.js?${js_play_ws_js}|"></script>
  <script th:src="|/js/play.js?${js_play_js}|"></script>
  <link rel="stylesheet" type="text/css" th:href="|/css/play.css?${css_play_css}|">
</head>

</html>