/.settings
/target
/tmp
/.idea
/gotaku4j-gui
.classpath
.project

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

db.properties
h2.conf
players.csv
/gotaku4j-webui/src/main/resources/h2.conf
/gotaku4j-webui/src/main/resources/players.csv
/gotaku4j-gotakudos-converter/src/main/resources/h2.conf
/gotaku4j-webui/src/main/resources/quizbooks/5tq
/gotaku4j-webui/src/main/resources/quizbooks/5tqtxt
/gotaku4j-webui/src/main/resources/quizbooks/5tqcsv
/gotaku4j-webui/src/test/resources/quizbooks/5tq
/gotaku4j-webui/src/test/resources/quizbooks/5tqtxt
/gotaku4j-webui/src/test/resources/quizbooks/5tqcsv
/gotaku4j-gotakudos-converter/src/main/resources/quizbooks/5tq
/gotaku4j-gotakudos-converter/src/test/resources/quizbooks/5tq
/gotaku4j-gotakudos-converter/src/test/resources/quizbooks/5tqcsv/小学校 社会 歴史/*.csv
/gotaku4j-gotakudos-converter/src/test/resources/quizbooks/5tqcsv/社会/*.csv
